/*
here some functions can be added, sometimes there is repeatation of the code 
at that time functions are useful

functions return value.
*/
/*
here some mixin can be added, mixin are similar to functions 

but they don't return any value

we need to include it using keyword "@include"

Eg: @mixin text_center {
    text-align: center;
}

and include the above mixin using "@include text_center;" keyword.
*/
/*
there is extend as well but use when there is repeatation of code in more than 
one element.

%heading-1 {
    color: white;
    font-size: 20px;   
}

use the above extend using @extend %heading-1;
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

.heading-1, .heading-2, .heading-4, .heading-5 {
  font-family: 'Raleway', sans-serif; }

.heading-1 {
  font-weight: 700; }

.heading-2 {
  font-weight: 700; }
  .heading-2--light {
    color: #f6f6fe; }

.heading-4 {
  color: #16161d; }

.heading-5--light {
  color: #bfbfbf; }

.submit-btn {
  padding: .8rem 2rem;
  border: none;
  font-size: 8px; }

.btn--accent-blue, .btn--accent-blue--light {
  background-color: #3065f8;
  color: #311d1d;
  border-radius: 3px; }

.btn--accent-blue--light {
  color: #f6f6fe;
  font-size: 1.4rem; }

.btn--accent-cyan {
  color: #3c9f8f;
  display: inline-block;
  position: relative; }

.footer {
  background-color: #111155;
  padding: 3rem;
  display: grid;
  grid-gap: 3rem;
  color: #fff; }
  .footer__logo {
    background-color: #fff;
    -webkit-mask-image: url(../images/logo.svg);
    -webkit-mask-size: cover;
    display: inline-block;
    width: 12rem;
    height: 3.5rem; }
  .footer__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    align-items: center;
    align-content: center; }
  .footer__contact {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    grid-gap: 1rem; }
  .footer__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: #fff; }
  .footer-nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 1rem; }
    .footer-nav__item {
      display: inline-block; }
    .footer-nav__link:link, .footer-nav__link:visited {
      color: #fff;
      text-decoration: none;
      transition: all .2s; }
    .footer-nav__link:hover, .footer-nav__link:active {
      color: #3065f8; }
  .footer-social__icon {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-gap: 2rem; }
    .footer-social__icon svg {
      box-sizing: content-box;
      border: 1px solid currentColor;
      padding: 3px;
      border-radius: 50%;
      transition: all .2s;
      cursor: pointer; }
    .footer-social__icon svg:hover {
      fill: #3065f8;
      color: #3065f8; }

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  padding: 3rem;
  align-items: center;
  color: #16161d;
  grid-gap: 6rem;
  height: 100vh; }
  .header__nav {
    display: grid;
    grid-template-columns: 1fr repeat(3, max-content); }
  .header__logo {
    height: 3rem; }
  .header__main {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-gap: 5%;
    align-self: start; }
  .header__content {
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content, 3rem)) min-content;
    grid-gap: 1rem;
    align-content: center; }
  .header__img {
    width: 100%; }

.form {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-gap: 2rem; }
  .form-start {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem; }
    .form-start .submit-btn {
      justify-self: start; }

.email {
  padding: 3px 6px; }
  .email-start {
    font-size: 1.4rem;
    padding: 5px 8px; }
  .email:focus {
    outline: none; }

.main-nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-gap: 2rem;
  align-items: center; }
  .main-nav__item {
    display: inline-block; }
  .main-nav__link {
    text-decoration: none;
    color: currentColor; }

.features {
  background-image: url(../images/bg-curve-desktop.svg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-gap: 5%;
  align-content: center;
  justify-content: center;
  height: 90vh;
  padding: 3rem; }
  .features__content {
    display: grid;
    grid-template-rows: 3rem repeat(2, minmax(min-content, 4rem)) 3rem min-content;
    justify-items: start; }
  .features__img img {
    width: 100%; }

.review {
  background-color: #fff;
  border-radius: 5px;
  width: 19rem;
  padding: 2rem;
  display: grid;
  grid-gap: 1rem;
  position: relative;
  grid-template-rows: 1fr min-content;
  grid-template-columns: 15rem; }
  .review::before {
    content: "\201C";
    font-size: 4rem;
    color: #16161d;
    position: absolute;
    left: 2rem;
    top: 0;
    font-family: sans-serif; }
  .review__details {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 1rem;
    align-items: center; }
    .review__details img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%; }
  .review__detail {
    display: grid;
    grid-gap: 5px; }

.start {
  background-color: #585989;
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-gap: 10%;
  color: #f6f6fe;
  padding: 3rem;
  align-items: center; }
  .start__content {
    display: grid;
    grid-gap: 1rem; }
