

//typography of various heading, text can be defined here.

%heading {
    font-family: 'Raleway', sans-serif;
}

.heading-1 {
    @extend %heading;
    font-weight: 700;
}

.heading-2 {
    @extend %heading;
    font-weight: 700;

    &--light {
        color: $color-neutral-grey-blue;
    }
}

.heading-4 {
    @extend %heading;
    color: $color-primary-dark-blue;
}

.heading-5 {
    @extend %heading;

    &--light {
        color: $color-neutral-grey;
    }
}