

//buttons of various type, colour, hover effect can be defined here.

.submit-btn {
    padding: .8rem 2rem;
    border: none;
    font-size: 8px;
}

%btn--accent-blue {
    background-color: $color-accent-blue;
    color: rgb(49, 29, 29);
    border-radius: 3px;
}

.btn--accent-blue {
    @extend %btn--accent-blue;
    
}

.btn--accent-blue--light {
    @extend %btn--accent-blue;
    color: $color-neutral-grey-blue;

    font-size: 1.4rem;
}

.btn--accent-cyan {
    color: $color-accent-cyan;
    display: inline-block;
    position: relative;

}

// .right__arrow {
//     // width: 1.5rem;
//     // height: 1.5rem;
//     // // color: #fff;
//     // // background-color: currentColor;
//     // content: "\2192";
//     // position: absolute;
//     // top: 0;
//     // right: 0;
// }